!!!5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fileuploader.css')
    link(href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css', rel='stylesheet')
    link(rel='stylesheet', href='/images/loading.gif')
    script(src='http://code.jquery.com/jquery.js')
    script(src='/imports/file-uploader/fileuploader.js')

  body
    header
      h1 Welcome to iRODS!
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus
